@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: Arial;
}

header{
    font-family: 'Metal Mania', cursive;
    background-color: darkgray;
    padding: 25px;
    text-transform: capitalize;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
}

section{
    contain: "";
    display: table;
    clear: both;
}

nav{
    float: left;
    width: 30%;
    background-color: dimgray;
    padding: 25px;
}

nav ul{
    padding: 0;
    list-style-type: none;
}

article{
    float: left;
    width: 70%;
    padding: 10px;
    text-align: justify;
}

article h1{
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 30px;
}

footer{
    font-family: 'Metal Mania', cursive;
    background-color: darkgray;
    padding: 20px;
    text-transform: capitalize;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
}

@media (max-width: 500px) {
    nav article {
        width: 100%;
        height: auto;
    }
}