<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Float Layout</title>
    <link href="https://fonts.googleapis.com/css2?family=Montaga&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="monstyle.css">
</head>
<body>
<header>
    <h2>Les capitales</h2>
</header>
<section>
    <nav>
        <ul>
            <li> <a href="index.html">Londres</a> </li>
            <li> <a href="Paris.html">Paris</a></li>
            <li>Abidjan</li>
            <li>Teheran</li>
            <li>Rabat</li>
        </ul>
    </nav>
    <article>
        <h1>Paris</h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam asperiores consectetur, dicta
            distinctio doloremque dolorum eligendi illum ipsa laborum magnam molestias mollitia perferendis quasi quos
            reiciendis repellat soluta vero!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam asperiores consectetur, dicta
            distinctio doloremque dolorum eligendi illum ipsa laborum magnam molestias mollitia perferendis quasi quos
            reiciendis repellat soluta vero!</p>
    </article>
</section>

<footer>pied de pages</footer>
</body>
</html>